body
{
  background-color: rgb(57, 58, 59);
}
#title
{
  font-size: 9vw;
  color: rgb(21,244,238);
}
input[type=submit]
{
  background-color: #C4FB6D;
  border-style: none;
  color: black;
  font-size: 20px;
}
input[type=text]
{
  border-style: none;
}
.one
{
  /* position: relative; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.formid
{
  display: flex;
  flex-direction: column;
  width: 400px;
}
input
{
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
}
.forflex
{
  display: flex;
  justify-content: center;
}
.for2flex
{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#message_referance
{
  width: 450px;
  height: 20px;
  background-color: black;
  border-color: green;
}
#inputbutton
{
  width: 100px;
  height: 40px;
}
#message_display_area
{
  background-color: black;
  padding: 40px;
  border-style: solid;
  width: 500px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#divb
{
  padding: 10px;
  font-size: 20px;
  background-color: grey;
  color: #17171f;
  width: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
