body
{
  background-color: rgb(57, 58, 59);
}
#title
{
  font-size: 9vw;
  color: rgb(21,244,238);
}
input[type=submit]
{
  background-color: #C4FB6D;
  border-style: none;
  color: black;
  font-size: 20px;
}
input[type=text]
{
  border-style: none;
}
.one
{
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.formid
{
  display: flex;
  flex-direction: column;
  width: 400px;
}
input
{
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
}
